<link rel="stylesheet" href="<%= assetPath('css/comment.css') %>" />

<li id="comment-<%= comment._id %>" class="comments-container">
  <p>
    <% if(locals.user && locals.user.id == comment.user._id){ %>
    <small>
      <a
        class="delete-comment-button btn btn-outline-dark"
        href="/comments/destroy/<%=comment._id%>"
      >
        X
      </a>
    </small>

    <% } %>

    <small class="user-name"> <%= comment.user.name %> </small>
    <%= comment.content %>
    <br />
    <!-- <br>display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
    <small>
      <% if (locals.user) { %>
      <a
        href="/likes/toggle?id=<%=comment._id%>&type=Comment"
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/889/889140.png"
          alt="like"
        />
        <%= comment.likes.length %> Likes
      </a>

      <% } else { %>

      <img
        src="https://cdn-icons-png.flaticon.com/512/889/889140.png"
        alt="like"
        style="width: 18px; margin-right: 5px; margin-bottom: 5px"
      />
      <%= comment.likes.length %> Likes <% } %>
    </small>
  </p>
</li>
