<h1> 
        Codeial / <%= title %>  
</h1>

<section id="feed-posts">

        <h4>Posts</h4>

        <% if(locals.user){ %> 

        <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
                <input type="submit" value="Post">
        </form>

        <% } %> 

   
        <div class="posts-list-container">
                <ul>
                        
                        <% for(let post of posts) { %> 
                        
                        <li class="post">
                                
                                <p>     
                                        <!-- if the user is signed in and if the user which is signed in is equal to the user who created the post -->
                                        <% if(locals.user && locals.user.id == post.user.id){ %> 
                                                <small>
                                                        <!-- ._id is same as .id (.id just converts the _id into string by mongoose)  -->
                                                        <a href="/posts/destroy/<%=post.id%>"> X </a>
                                                </small>
                                        <% } %> 
                                        <%= post.content %>  
                                        <br>
                                        <small> <%= post.user.name %> </small>
                                </p>
                                

                                <div class="post-comments">
                                        <% if(locals.user){ %> 
                                
                                                <form action="/comments/create" id="new-comment-form" method="POST" required>
                                                        <input type="text" name="content" placeholder="Type here to add comment...">
                                                        <input type="hidden" name="post" value="<%= post._id %>">
                                                        <input type="submit" value="Add Comment">
                                                </form>
                                
                                        <% } %> 

                                        <div class="post-comments-list">
                                                <ul id="posts-comments-<%=post._id%>">
                                                        
                                                        <% for (comment of post.comments){ %>

                                                                <p>
                                                                        <% if(locals.user && locals.user.id == comment.user.id){ %> 
                                                                                <small>
                                                                                        <!-- ._id is same as .id (.id just converts the _id into string by mongoose)  -->
                                                                                        <a href="/comments/destroy/<%=comment.id%>"> X </a>
                                                                                </small>
                                                                        <% } %> 
                                                                        <%= comment.content %>
                                                                        <br>
                                                                        <small>
                                                                            <%= comment.user.name  %>     
                                                                        </small> 
                                                                </p>

                                                        <% } %> 
                                                
                                                </ul>

                                        </div>

                                </div>

                        </li>

                        <% }%> 
        
                </ul>
        </div>

       
      
</section>
        

